.nav_container{
    display: flex;
    justify-content: space-between;
    height: 91px;
    background-color: global.$black;
    // min-width: 1200px;
    width: 100vw;
    &--logo{
        height: 100%;
        padding: 20px;
        cursor: pointer;
    }
    &--title{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        

    }
}

li{
    transition: transform 0.6s ease-in-out;
    &:hover{
        transform: scale(1.2);
    }
}


.nav_link{
    font-family: global.$font1;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    &:hover{
        color: global.$primary;
    }
}


