.radarChart{
    background-color: black;
    width: 230px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 98px;
    border-radius: 5px;
    
}