.radarChart{
    background-color: black;
    width: 213px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}

.my-radar-chart{
    margin-top: 60px;
}