.user_title{
    font-family: global.$font1;
    margin-left: 107px;
    margin-top: 68px;
    &--name{
        font-size: 3rem;
        font-weight: 500;
        span{
            color: global.$primary;
        }
    }
    &--congrat{
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 41px;
    }
}