.user_title{
    font-family: global.$font1;
    padding-bottom: 2%;
    &--name{
        font-size: 2.5rem;
        font-weight: 500;
        span{
            color: global.$primary;
        }
    }
    &--congrat{
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 41px;
    }
}