.user_title{
    font-family: global.$font1;
    padding-bottom: 2%;
    &--name{
        font-size: 3rem;
        font-weight: 500;
        @media screen and (max-width: 700px) {
            font-size: 2rem;
        }
        span{
            color: global.$primary;
        }
    }
    &--congrat{
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 41px;
        @media screen and (max-width: 700px) {
            font-size: 0.9rem;
        }
    }
}