main{
    display: flex;
}

.user_performances{
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-gap: 10px;
    gap: 24px;
    margin-top: 13px;
}

.dashboard{
    margin-left: 109px;
}
